<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>牛逼点名系统</title>
		<link rel="stylesheet" href="/css/style.css">
	</head>

	<body>
		<h1>欢迎使用牛逼点名系统</h1>
		<h2>请选择班级进入</h2>
		<a href="/callName"><button class="btn">h51705</button></a>
	</body>

</html>